.btngroup {
    padding-top: 15px;
}

.card {

    object-fit: cover;
    border: solid rgb(186, 210, 29) 3px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 300px;
    cursor: pointer;
    overflow: hidden;

}

.card1 {
    background-image: url('../../imgs/admindashboard.png');
}

.cardbody {
    backdrop-filter: blur(5px);
    border-radius: 20px;
    color: #000;
    right: -400px;
    height: 100%;
    transition: 1500ms;
}

.card:hover .cardbody {
    width: 100%;
    height: 100%;
    right: 0;
}

.cardbody h2 {
    font-weight: 1000;
    font-size: 20px;
}

.cardbody p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
}


@media only screen and (max-width: 1200px) {
    .cardheader {}

    .card {
        width: 350px;
    }
}

@media only screen and (max-width: 768px) {
    .cardheader {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .card {
        display: flex;
        justify-content: center;
    }
}